<h1> Some quotes to make your day better</h1>
<p>"My nature is Divine; I am a spiritual being."</p>

<p>"I am superior to negative thoughts and low actions."</p>

<p>"I have been given endless talents which I begin to utilize today."</p>

<p>"I forgive those who have harmed me in my past and peacefully detach from them."</p>

<p>"A river of compassion washes away my anger and replaces it with love."</p>

<p>"I am guided in my every step by Spirit who leads me towards what I must know and do."</p>

<p>"(If you're married) My marriage is becoming stronger, deeper, and more stable each day."</p>

<p>"I possess the qualities needed to be extremely successful."</p>

<p>"(For business owners) My business is growing, expanding, and thriving."</p>

<p>"Creative energy surges through me and leads me to new and brilliant ideas."</p>

<p>"Happiness is a choice. I base my happiness on my own accomplishments and the blessings I've been given."</p>
</div>
